<html>
  <head> </head>
  <body>
    <form class="contact-form row" #f="ngForm" (ngSubmit)="onInscri(f.value)" >
      <div class="firstline">
        <!--  first line  -->
        <!-- first card  -->
        <section class="get-in-touch">
          <h4 class="title">- Identité</h4>
          <div class="l1_c1">
            <div class="form-field col-lg-3">
              <select class="input-text js-input" name="civilite" id="civilite" ngModel>
                <option value="">Civilité</option>
                <option value="monsieur">M.</option>
                <option value="madame">Mme</option>
                <option value="mademoiselle">Mlle</option>
              </select>

              <span>
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </div>
            <div class="form-field col-lg-3">
              <input
                id="Nom"
                name="Nom"
                class="input-text js-input"
                type="text"
                required
                placeholder="Nom"
                ngModel
              />
            </div>
            <div class="form-field col-lg-3">
              <input
                id="Prenom"
                name="Prenom"
                class="input-text js-input"
                type="text"
                required
                placeholder="Prénom"
                [(ngModel)]="Prenom"
              />
            </div>
          </div>

          <div class="form-field col-lg-12">
            <input
              id="Date_de_naissance"
              name="Date_de_naissance"
              class="input-text js-input"
              type="date"
              required
              placeholder="Date de Naissance"
              [(ngModel)]="Date_de_naissance"
            />
          </div>
          <div class="form-field col-lg-12">
            <input
              id="Situation_familiale"
              name="Situation_familiale"
              class="input-text js-input"
              type="text"
              required
              placeholder="Situation familiale"
              [(ngModel)]="Situation_familiale"
            />
          </div>
          <div class="form-field col-lg-12">
            <input
              id="Nb_enfants"
              name="Nb_enfants"
              class="input-text js-input"
              type="number"
              required
              placeholder="Nombre d'enfants"
              [(ngModel)]="Nb_enfants"
            />
          </div>
        </section>
        <!-- second card  -->
       <section class="get-in-touch"> 
          <h4 class="title">- Contact</h4>
          <div class="form-field col-lg-12">
            <input
              id="Email"
              name="Email"
              class="input-text js-input"
              type="email"
              required
              placeholder="Email"
              ngModel
            />
          </div>
          <div class="form-field col-lg-12">
            <input
              id="Tel"
              name="Tel"
              class="input-text js-input"
              type="text"
              required
              ng2TelInput
              placeholder="Tél"
              ngModel
               
            />
          </div>
          <div class="form-field col-lg-12">
            <input
              id="D_Tel"
              name="D_Tel"
              class="input-text js-input"
              type="text"
              required
              ng2TelInput
              placeholder="2eme Tél"
              ngModel
            />
          </div>
          <div class="form-field col-lg-12">
            <input
              id="Mobile"
              name="Mobile"
              class="input-text js-input"
              type="text"
              required
              ng2TelInput
              placeholder="Mobile"
              ngModel
            />
          </div>
        </section> 
      </div>
      <!-- finish first line  -->

      <div class="firstline">
        <!--  second line  -->
        <!-- first card  -->
         <section class="get-in-touch">
          <h4 class="title">-Adresse</h4>
          <div class="form-field col-lg-12">
            <input
              id="Adresse"
              name="Adresse"
              class="input-text js-input"
              type="text"
              required
              placeholder="Adresse"
              ngModel
            />
          </div>
          <p>.</p>
          <div class="l1_c1">
            <div class="form-field col-lg-6">
              <input
                id="Pays"
                name="Pays"
                class="input-text js-input"
                type="text"
                required
                placeholder="Pays"
                ngModel
              />
            </div>
            <div class="form-field col-lg-5">
              <input
                id="Ville"
                name="Ville"
                class="input-text js-input"
                type="text"
                required
                placeholder="Ville"
                ngModel
              />
            </div>
          </div>
          <div class="l1_c1 col-lg-12">
            <div class="form-field col-lg-4">
              <input
                id="Rue"
                name="Rue"
                class="input-text js-input"
                type="text"
                required
                placeholder="Rue"
                ngModel
              />
            </div>
            <div class="form-field col-lg-6">
              <input
                id="N_Rue"
                name="N_Rue"
                class="input-text js-input"
                type="number"
                required
                placeholder="N° de Rue"
                ngModel
              />
            </div>
            <div class="form-field col-lg-6">
              <input
                id="Code_Postal"
                name="Code_Postal"
                class="input-text js-input"
                type="number"
                required
                placeholder="Code postal"
                ngModel
              />
            </div>
          </div>

          <div class="form-field col-lg-12">
            <input
              id="C_adresse"
              name="C_adresse"
              class="input-text js-input"
              type="text"
              required
              placeholder="Complement d'adresse"
              ngModel
            />
          </div>
        </section> 
        <!-- second card  -->
        <section class="get-in-touch">
          <h4 class="title">-Informations complémentaires</h4>
          <div class="form-field col-lg-12">
            <input
              id="M_cle"
              name="M_cle"
              class="input-text js-input"
              type="text"
              required
              placeholder="Mots clés"
              ngModel="M_cle"
            />
          </div>
          <div class="form-field col-lg-12">
            <input
              id="comment"
              name="comment"
              class="input-text js-input text_area"
              type="textarea"
              required
              placeholder="Commentaire sur le prospect"
              ngModel="comment"
            />
          </div>
          <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Enregistrer" />
          </div>
        </section>
      </div>
      <!-- finish second line  -->
    </form>
  </body>
</html>
