* {
    margin: 0;
    padding: 0;
    /* border-size: border-box; */
  }
  
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  background-color: rgba(247, 240, 240, 0.589);
  padding: 5%;
  }
  
  .firstline{
      padding-top: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  .card {
    width: 50%;
    padding: 30px 30px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: relative;
  }
  
  .card h2 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 60px;
    text-transform: uppercase;
  }
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 10px;
  }
  
  .card .row .form-group label {
    line-height: 40px;
    color: #580202;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #404149;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .card .row input[type="submit"]:hover {
    border: 5px solid rgb(255, 255, 255);
    color: #cf2424;
    transition: all 0.4s;
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .card {
      padding: 30px;
    }
    
    .card h2 {
      font-size: 40px;
    }
    
    .card .row input[type="submit"] {
      width: 100%;
    }
  }
  
  
  .get-in-touch {
      width: 50%;
      margin: 50px;
      position: relative;
    
    }
    .get-in-touch .title {
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 30px;
      line-height: 48px;
      padding-bottom: 28px;
         color: #5543ca;
        background: #5543ca;
        background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
        background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
        background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
    }
    
    .contact-form .form-field {
      position: relative;
      margin: 32px;
    }
    .contact-form .input-text {
      display: block;
      width: 100%;
      height: 40px;
      border-width: 0 0 2px 0;
      border-color: #5543ca;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
    }
    .contact-form .input-text:focus {
      outline: none;
    }
    .contact-form .input-text:focus + .label,
    .contact-form .input-text.not-empty + .label {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
    }
    .contact-form .label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #5543ca;
      cursor: text;
      transition: -webkit-transform .2s ease-in-out;
      transition: transform .2s ease-in-out;
      transition: transform .2s ease-in-out, 
      -webkit-transform .2s ease-in-out;
    }
    .contact-form .submit-btn {
      display: inline-block;
      background-color: #000;
       background-image: linear-gradient(125deg,#a72879,#064497);
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      padding: 8px 16px;
      border: none;
      width:200px;
      cursor: pointer;
    }
  
    /* css phone */
  .intl-tel-input {
    display: table-cell;
  }
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
  }
    /* mteii */
    .l1_c1{
        display: flex;
        flex-direction: row;
        
    }
    .text_area{
      height: 100px !important

    }

    .text_area:focus{
      -webkit-transform: translateY(70px) !important ;
      transform: translateY(70px) !important;
    }